<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a Blog Post</title>

    <style>
        form {
            display: flex;
            flex-direction: column;
            width: 300px;
        }
    </style>
</head>
<body>

<h1>Create a Post</h1>
  <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
    <h2>Title</h2>
    <input th:field="*{title}">
    <h2>Body</h2>
    <textarea th:field="*{body}"></textarea>
    <input type="submit">
  </form>

</body>
</html>