<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Search Post by Title</h1>
    <form action="/posts/search" method="post">
        <input id="searchPost" name="title" />
        <input type="submit"/>
    </form>
    <div th:if="${results}">
        <ul>
            <li th:each="result : ${results}">
                <h2 th:text="${result.title}"></h2>
                <p th:text="${result.body}"></p>
            </li>
        </ul>
    </div>

</body>
</html>