<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show a Post</title>
</head>
<body>

     <h2>Title: <span th:text="${post.title}"></span></h2>
     <h3>Body: <span th:text="${post.body}"></span></h3>
     <h4>User Email: <span th:text="${post.getUser().getEmail()}"></span></h4>

    <form th:action="@{/posts/comment}" th:method="post" th:object="${comment}">
        <h2>Comment:</h2>
        <textarea th:field="*{content}" cols="50" rows="10"></textarea>
        <input type="hidden" name="postId" th:value="${post.id}">
        <input type="submit">
    </form>

</body>
</html>